.staff {
    display: grid;
    grid-template-areas: 
        'blank1 addMusic blank2';
    grid-template-columns: auto 55em auto;

    .gutter1 {
        grid-area: blank1;
    }

    .gutter2 {
        grid-area: blank2;
    }

    .addMusicInner {
        grid-area: addMusic;
        position: relative;
    
        .backgroundImage {
            
        }
    
        .addMusicInputs {
            position: absolute;
            left: 140px;
            top: 50px;
    
            input {
                height: 28px;
                margin: 2.5px 0;
                width: 43em;
            }
    
            input:first-of-type {
                margin: 0 0 2.5px 0;
            }
        }
    
        .plusButton {
            position: absolute;
            top: 6em;
            right: 1em;
    
            .addButtonButton {
                display: block;
                width: 2.25em;
                margin: 0.25em 1em;
                height: 2.25em;
                background-color: $smoke;
                border: none;
                border-radius: 5px;
                opacity: 1;
            }
            
            .addButton {
                
            }
        }
    }
}

