.addMusic {
    input {
        padding: 10px;
        border-radius: 20px;
        border: 2px solid $smoke;
        margin: 5px;
        width: 50em;
    }
}

.addButtonButton {
    display: block;
    width: 3em;
    height: 3em;
    background-color: black;
    border: none;
    border-radius: 5px;
}

.addButton {
    top: 10px;
    left: 80px;
}