.addMusic {
    input {
        padding: 10px;
        border-radius: 20px;
        border: 2px solid $smoke;
        margin: 5px;
        width: 80%;
    }
}

.addButtonButton {
    display: block;
    width: 3em;
    height: 3em;
    background-color: $smoke;
    border: none;
    border-radius: 5px;
    margin: 1em auto;
    opacity: 1;
}

.addButton {
    top: 10px;
    left: 80px;
}