.adminPage {
    color: $smoke;
    

    ul {
        list-style-type: none;
        font-size: 16pt;
    }

    hr {
        border: 1px solid $smoke;
    }

    .results {
        height: 150px;
    }
}

body {
    display: block;
}