.adminPage {
    color: $smoke;
    margin: 10em auto;
    width: 90%;

    hr {
        border: 1px solid $smoke;
    }

    .userList {
        width: 90%;

        ul {
            list-style-type: none;
            font-size: 16pt;
        }

        li {
            display: block;
            padding: 10px;
            margin: 10px;

            hr {
                width: 50%;
            }
        }

        li:last-of-type {
            hr {
                display: none;
            }
        }

    }
}