.adminPage {
    color: $smoke;
    margin: 0 5%;
    width: 90%;

    ul {
        list-style-type: none;
        font-size: 16pt;
    }

    hr {
        border: 1px solid $smoke;
    }

    .userList {
        width: 90%;
    }
}