li {
    display: grid;
    grid-template-areas:
        'play song artist album';
    grid-gap: 20px 20px;
    grid-template-columns: 5% 30% 20% 40%;
}

.playButtonButton {
    display: block;
    width: 2.25em;
    margin: 0.25em 1em;
    height: 2.25em;
    background-color: $smoke;
    border: none;
    border-radius: 5px;
    opacity: 1;
}

.playButton {
    top: 10px;
    left: 80px;
}

.libSong {
    grid-area: song;
    font-size: 20pt;
    padding-top: 0.15em;
    color: $smoke;
}

.libArtist {
    grid-area: artist;
    font-size: 20pt;
    padding-top: 0.15em;
    color: $smoke;
}

.libAlbum {
    grid-area: album;
    font-size: 20pt;
    padding-top: 0.15em;
    color: $smoke;
}