    
.container {
    position: absolute;
    width: 50%;
    height: 45%;
    margin-top: 12%;
    margin-left: 17.7%;
    padding: 5%;
    border-radius: 13px;
    background-image: url(../images/concert.jpg);
    background-position: center;
    background-size: cover ;
}