.searchBar {
    input {
        padding: 10px;
        border-radius: 20px;
        border: 2px solid $smoke;
        margin: 5px;
        width: 50em;
    }
}

.searchButtonButton {
    background-color: black;
    border-radius: 5px;
    width: 3em;
    height: 3em;
    border: none;
    margin: 1em;
}

.searchButton {
    top: 10px;
    left: 80px;
}
