.signIn {
    padding: 10em 0;
    
    .signInContent {

        h1 {
            color: $smoke;
            text-align: center;
            padding: 20px;
            margin: 0;
        }

        input[name="email"] {
            font-size: 1.25em;
            display: block;
            float: center;
            margin: 0 auto 20px auto;
        }

        input[name="password"] {
            font-size: 1.25em;
            display: block;
            float: center;
            margin: 0 auto 20px auto;
        }

        p {
            text-align: center;
            margin-top: 25px;
        }

        .signInButton {
            background-color: $smoke;
            border: none;
            border-radius: 5px;
            color: white;
            font-size: 16pt;   
            padding: 20px 10px;
            text-align: center;
            line-height: 4pt;
            width: 15%;
            margin: 0 42.5%;
        }

        .signInButton:hover {
            opacity: 1;
            color: white;
        }

        a {
            font-size: 14pt;
            font-weight: bold;
            color: $smoke;
            padding: 5px;
        }

        a:hover {
            background-color: $smoke;
            border-radius: 5px;
            color: white;
            padding: 5px;
        }

        .signUpText {
            font-size: 14pt;
        }
    }
}