.signIn {
    padding: 10em 0;

    .signInBg {
        border: black 2px solid;
        width: 50%;
        margin: 0 auto;
        padding: 5em;
        box-shadow: 0 0 15px $smoke;
        background-image: url('../images/audience-band-cheering-1105666.jpg');
        background-size: contain;
    }
    
    .signInContent {

        h1 {
            color: $smoke;
            text-align: center;
            padding: 20px;
            margin: 0;
        }

        input[name="email"] {
            font-size: 1.25em;
            display: block;
            float: center;
            margin: 0 auto 20px auto;
        }

        input[name="password"] {
            font-size: 1.25em;
            display: block;
            float: center;
            margin: 0 auto 20px auto;
        }

        p {
            text-align: center;
            margin-top: 25px;
        }

        .signInButton {
            background-color: white;
            border: none;
            border-radius: 5px;
            color: $smoke;
            font-size: 16pt;   
            padding: 20px 10px;
            text-align: center;
            line-height: 4pt;
            width: 150px;
            margin: 0 6em;
        }

        .signInButton:hover {
            opacity: 1;
            color: $smoke;
        }

        a {
            font-size: 14pt;
            font-weight: bold;
            color: $smoke;
            padding: 5px;
        }

        a:hover {
            background-color: $smoke;
            border-radius: 5px;
            color: white;
            padding: 5px;
        }

        .signUpText {
            font-size: 14pt;
        }
    }

    .pwForgetLink:link {
        color: rgba(255, 255, 255, 0.5);
    }

    .signUpText {
        color: rgba(255, 255, 255, 0.5);

        .signUpLink {
            color: rgba(255, 255, 255, 0.5);
        }
    }

}